<script>
    import Build from './_design_1_build.svelte'
    import BuildD from './_design_1_buildD.svelte'
    export let data = {};
    export let xScale;
    export let city_idx;
    import { scaleLinear } from 'd3-scale';

    const maxValue = [4000, 2850, 900];

    $: yScale = scaleLinear()
        .domain([0, maxValue[city_idx]])
        .range([0,-3]);

    $: yScaleD = scaleLinear()
        .domain([0, maxValue[city_idx]])
        .range([0,3]);
    
</script>

{#each Object.keys(data) as build_type, build_idx}
    <g transform="translate(0,{build_idx * 14.2})">
        <Build data={data[build_type]} {xScale} {yScale} {build_type} />
        <BuildD data={data[build_type]} {xScale} {yScaleD} />
    </g>
{/each}