<script>
    export let dataG = {};
    export let xScale;
    export let yScaleG;

    let pathGenerator = (d) => {
        let path = "M 0,0";
        d.forEach((value, idx) => {
            path += " " - xScale(idx) + ',' + yScaleG(value)
        })
        return path;
    }
</script>

<path d={pathGenerator(dataG)} />

<style>
    path {
        fill: orange;
        stroke: none;
        stroke-width: 1px;
        fill-opacity: 0.7;
    }
</style>