<script>
    import Build2 from './_design_1_build2.svelte'
    import BuildD2 from './_design_1_buildD2.svelte'
    export let data = {};
    export let xScale;

</script>

{#each Object.keys(data) as build_type, build_idx}
    <g transform="translate(0,{build_idx * 14})">
        <Build2 data={data[build_type]} {xScale} {build_type} />
        <BuildD2 data={data[build_type]} {xScale} />
    </g>
{/each}