<script>
    export let dataE = {};
    export let xScale;
    export let yScaleE;

    let pathGenerator = (d) => {
        let path = "M 0,0";
        d.forEach((value, idx) => {
            path += " " + xScale(idx) + ',' + yScaleE(value)
        })
        path += " 197,0";
        return path;
    }
</script>

<path d={pathGenerator(dataE)} />

<style>
    path {
        fill: blue;
        stroke: none;
        stroke-width: 1px;
        fill-opacity: 0.7;
    }
</style>