<script>
    export let data = [];
    export let xScale;
    export let yScaleD;

    let pathGenerator = (d) => {
        let path = "M 125,0";
        d.forEach((value, idx) => {
            path += " " + xScale(idx) + ',' + yScaleD(value)
        })
        path += " 560,0"
        return path;
    }
</script>

<path d={pathGenerator(data)} />

<style>
    path {
        stroke: black;
        stroke-width: 0.2px;
        fill: black;
    }
  </style>
