<script>
    export let data = [];
    export let xScale;
    export let build_type;
    import { scaleLinear } from 'd3-scale';

    $: yScale = scaleLinear()
        .domain([0, Math.max(...data)])
        .range([0,-5]);

    let pathGenerator = (d) => {
        let path = "M 125,0";
        d.forEach((value, idx) => {
            path += " " + xScale(idx) + ',' + yScale(value)
        })
        path += " 560,0"
        return path;
    }

</script>

<path d={pathGenerator(data)} />
<text>{build_type}</text>

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<style>
    path {
        stroke: black;
        stroke-width: 0.2px;
        fill: black;
    }
    text {
        font-family: 'Montserrat';
        font-size: x-small;
    }
  </style>