<script>
  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Import components
  import { scaleLinear } from 'd3-scale';
  import WeekER from './_design_3_weekE.svelte';
  import WeekGR from './_design_3_weekG.svelte';
  import WeekEL from './_design_3_weekEL.svelte';
  import WeekGL from './_design_3_weekGL.svelte';

  // Import data
  let datapoints = [];
  fetch("/data/hourly_electricity_vs_gas_december.json")
    .then(res => res.json())
    .then(data => datapoints = data);

  // Transform data
  let transformed_dataE = {};
  let transformed_dataG = {};
  $:{
    datapoints.forEach((d) => {
      if ( !(d.week in transformed_dataE)){
        transformed_dataE[d.week] = []
      }
      if ( !(d.week in transformed_dataG)){
        transformed_dataG[d.week] = []
      }
      transformed_dataE[d.week].push(d.total_electrity)
      transformed_dataG[d.week].push(d.total_gas)
    })
  }

  // Y scale for electricity
  $: yScaleE = scaleLinear()
    .domain([0,1016])
    .range([0,-50]);

  // Y scale for gas
  $: yScaleG = scaleLinear()
    .domain([0,4695])
    .range([0,50]);

  // X Scale
  $: xScale = scaleLinear()
    .domain([1,170])
    .range([0,200]);  
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">

    <!-- Leaves -->
    {#each Object.keys(transformed_dataE) as week_nr, week_idx}
      {#if week_idx % 2 === 0}
        <g transform="translate({innerWidth / 2 + 2},{450 - week_idx * 90}) rotate(-20)">
          <WeekER dataE={transformed_dataE[week_nr]} {xScale} {yScaleE} />
          <WeekGR dataG={transformed_dataG[week_nr]} {xScale} {yScaleG} />
        </g>
      {:else}
        <g transform="translate({innerWidth / 2 - 2},{450 - week_idx * 90}) rotate(20)">
          <WeekEL dataE={transformed_dataE[week_nr]} {xScale} {yScaleE} />
          <WeekGL dataG={transformed_dataG[week_nr]} {xScale} {yScaleG} />
        </g>
      {/if}
    {/each}

    <!-- Stem -->
    <path d="M 220,20 C 280,190 210,200 239,270" />
    <path d="M 239,270 C 265,340 205,400 255,500" />

    <!-- Legend -->
    <text x={innerWidth / 3 + 30} y={innerHeight - 45}>Baltimore</text>
    <text x={innerWidth / 3} y={innerHeight - 15}>(December 2014)</text>
    
    <text x=10 y=540 class="legend" id="electricity" >Electricity usage</text>
    <text x=10 y=560 class="legend" id="gas" >Gas usage</text>
    <rect x=0 y=520 width="130" height=50 />

    <text x=420 y=320 class="legend" >Week 1</text>
    <path d="M 440,325 Q 447,355 420,380" class="lineas" />
    <line x1=440 x2=445 y1=325 y2=330 class="lineas" />
    <line x1=440 x2=437 y1=325 y2=331 class="lineas" />

    <text x=10 y=360 class="legend" >Week 2</text>
    <path d="M 60,290 Q 30,300 32,340" class="lineas" />
    <line x1=32 x2=28 y1=340 y2=330 class="lineas" />
    <line x1=32 x2=36 y1=340 y2=330 class="lineas" />

  </g>
</svg>

<link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

<style>
  svg {
    border: 1px solid black;
    border-radius: 2px;
  }
  text {
    font-family: 'Montserrat';
    font-size: 20px;
  }
  path {
    stroke:  #694b37;
    stroke-width: 6px;
    fill: none;
  }
  rect {
    fill: none;
    stroke: #694b37;
    stroke-width: 1;
  }
  .legend {
    font-size: small;
  }
  .lineas {
    stroke: black;
    stroke-width: 1px;
  }
  #gas {
    fill: orange;
  }
  #electricity {
    fill: blue;
  }
</style>