<script>
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Import components
  import { scaleLinear } from 'd3-scale';
  import { scaleRadial } from 'd3-scale';
  import { lineRadial } from 'd3-shape';
  import { curveLinearClosed } from 'd3-shape';

  // Import data
  let datapoints = [];
  fetch("/data/daily_heating_cooling.json")
    .then(res => res.json())
    .then(data => datapoints = data);

  // Divide data
  $: data_baltimore = datapoints.slice(0,365);
  $: data_chicago = datapoints.slice(365, -365);
  $: data_losangeles = datapoints.slice(-365, 1095);

  const city = [
    {name: 'Chicago', place:'6', center:'30'},
    {name: 'Baltimore', place:'2', center:'35'},
    {name: 'Los Angeles', place:'1.2', center:'45'}
  ];

  let radio = 75;

  // Scales
  let xScale = scaleLinear()
    .domain([1,365])
    .range([0, 2 * Math.PI]);

  let yScale = scaleRadial()
    .domain([0,150000])
    .range([0,radio-5]);

  let cooling_line = lineRadial()
    .angle((d) => xScale(d.day_of_year))
    .radius((d) => yScale(d.cooling))
    .curve(curveLinearClosed);
  
  let heating_line = lineRadial()
    .angle((d) => xScale(d.day_of_year))
    .radius((d) => yScale(d.heating))
    .curve(curveLinearClosed);

  // Create paths
  $: path_stringCB = cooling_line(data_baltimore);
  $: path_stringHB = heating_line(data_baltimore);

  $: path_stringCC = cooling_line(data_chicago);
  $: path_stringHC = heating_line(data_chicago);
  
  $: path_stringCL = cooling_line(data_losangeles);
  $: path_stringHL = heating_line(data_losangeles);
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">

    <!-- Circles -->
    {#each city as i}
      <circle cx={innerWidth / i.place} cy={innerHeight / 2 + 10} r={radio} />
      <line x1={innerWidth / i.place - radio} y1={innerHeight / 2 + 10} x2={innerWidth / i.place + radio} y2={innerHeight / 2 + 10} />
      <line x1={innerWidth / i.place} y1={innerHeight / 2 + radio + 10} x2={innerWidth / i.place} y2={innerHeight / 2 - radio + 10} />
      
      <text x={innerWidth / i.place - 5} y={innerHeight / 2 - radio + 5}>0</text>
      <text x={innerWidth / i.place + radio + 5} y={innerHeight / 2 + 15}>3</text>
      <text x={innerWidth / i.place - 5} y={innerHeight / 2 + radio + 30}>6</text>
      <text x={innerWidth / i.place - radio - 15} y={innerHeight / 2 + 15}>9</text>
      
      <text x={innerWidth / i.place - i.center} y={innerHeight / 2 - radio - 25} class="ciudad" >{i.name}</text>
    {/each}
    
    <!-- Paths -->
    <g transform="translate(290,{innerHeight / 2 + 10})">
      <path d={path_stringHB} class="hot" />
      <path d={path_stringCB} class="cool" />
    </g>

    <g transform="translate(96,{innerHeight / 2 + 10})">
      <path d={path_stringCC} class="cool" />
      <path d={path_stringHC} class="hot" />
    </g>

    <g transform="translate(485,{innerHeight / 2 + 10})">
      <path d={path_stringCL} class="cool" />
      <path d={path_stringHL} class="hot" />
    </g>

    <!-- Legend -->
    <text x=150 y=210 class="cool" id="leyenda">Cooling</text>
    <path d="M 98,150 Q 135,160 160,195" class="cool" id="lineas" />
    <line x1=160 x2=158 y1=195 y2=187 class="cool" id="lineas" />
    <line x1=160 x2=153 y1=195 y2=190.5 class="cool" id="lineas" />

    <text x=0 y=44 class="hot" id="leyenda">Heating</text>
    <path d="M 40,50 Q 50,80 80,95" class="hot" id="lineas" />
    <line x1=40 x2=45 y1=50 y2=55 class="hot" id="lineas" />
    <line x1=40 x2=39 y1=50 y2=56.7 class="hot" id="lineas" />

    <text x=160 y=60 id="leyenda">Month</text>
    <path d="M 120,45 Q 165,55 180,105" class="curva" />
    <line x1=180 x2=181 y1=105 y2=95 class="curva" />
    <line x1=180 x2=173.5 y1=105 y2=98 class="curva" />

  </g>
</svg>

<link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

<style>
  svg {
    border: 0.5px solid black;
    border-radius: 5px;
  }
  circle {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
  }
  line {
    stroke: black;
    stroke-width: 0.5;
  }
  text {
    font-family: 'Montserrat';
    font-size: 15px;
  }
  .cool {
    fill: blue;
    fill-opacity: 0.2;
    stroke: blue;
  }
  .hot {
    fill: red;
    fill-opacity: 0.2;
    stroke: red;
  }
  #leyenda {
    font-size: 13px;
    font-weight: 100;
    fill-opacity: 1;
  }
  .ciudad {
    font-weight: 500;
  }
  .curva {
    stroke-width: 0.3px;
    stroke: black;
    fill: none;
  }
  #lineas {
    fill: none;
    stroke-width: 0.6px;
  }
</style>