<script>
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Import 
  import { scaleLinear } from 'd3-scale';
  import City from './_design_1_city.svelte';
  import City2 from './_design_1_city2.svelte';

  // Import data
  let datapoints = [];
  fetch("/data/hourly_heating_december.json")
    .then(res => res.json())
    .then(data => datapoints = data);
   
  // Transform data
  let transformed_data = {};
  $: {
    datapoints.forEach((d) => {
      if ( !(d.city in transformed_data)){
        transformed_data[d.city] = {}
      }
      if ( !(d.buildingtype in transformed_data[d.city])){
        transformed_data[d.city][d.buildingtype] = []
      }
      transformed_data[d.city][d.buildingtype].push(d.total_heating_energy)
    })
  }
  
  let boton1 = 0;
	const city = ['Baltimore','Chicago','Los Angeles'];
	
	let boton2 = 0;
	const options = ["Across all", "Within"];

  $: xScale = scaleLinear()
    .domain([1,31])
    .range([125,142.5]);

</script>

<div>
  <br>
  <!-- Buttons -->
  <h5>Location</h5>
    {#each city as i, idx}
      <label>
        <input type=radio bind:group={boton1} value={idx}>
        {i}
      </label> 
      <text y={idx * 15}>{i}</text>
      <br>
    {/each}
      <br>
  <h5>Scaling</h5>
    {#each options as i, idx}
      <label>
        <input type=radio bind:group={boton2} value={idx}>
        {i} building types
      </label> 
      <text x=150 y={idx * 20} >{i} building types</text>
    {/each}
</div>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformed_data) as city_name, city_idx}
      <g transform="translate(0,4)"> 
        <!-- Across all building types -->
        {#if boton2 === 0}
          {#if boton1 === 0}
            <City data={transformed_data["Baltimore"]} {xScale} {city_idx} />
          {:else if boton1 === 1}
            <City data={transformed_data["Chicago"]} {xScale} {city_idx} />
          {:else if boton1 === 2}
            <City data={transformed_data["Los Angeles"]} {xScale} {city_idx} />
          {/if}

        <!-- Within building types -->
        {:else if boton2 === 1}
          {#if boton1 === 0}
            <City2 data={transformed_data["Baltimore"]} {xScale}/>
          {:else if boton1 === 1}
            <City2 data={transformed_data["Chicago"]} {xScale} />
          {:else if boton1 === 2}
            <City2 data={transformed_data["Los Angeles"]} {xScale} />
          {/if}
        {/if}
      </g>
    {/each}

    <text x=125 y=230> December 1 </text>
    <text x=495 y=230> December 31 </text>

  </g>
</svg>

<link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  div {
    width: 220px;
  }
  h5 {
    font-size: large;
  }
  text {
    font-family: 'Montserrat';
    font-size: 10px;
  }
</style>