<style>
    p{
        color: steelblue;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
</style>

<p>I <span style="color:red">really</span> like data visualisation!</p>