<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];

  export let year = 1805;

  function reset() {
    year = 1800;
  };

  let user = { stopOn: false };

  function toggle() {
    user.stopOn = !user.stopOn;
  }
</script>

<div class="row">

  <!-- Buttons, slider and drop-down menu -->
  <button type="button" class="btn btn-primary" on:click={toggle}>
    {#if user.stopOn}
      Stop
    {:else}
      Start
    {/if}
  </button>

  <button type="button" class="btn btn-primary" on:click={reset}>
    Reset
  </button>

  <p>Year: {year}</p>
  <input type=range bind:value={year} min=1800 max=2014>


</div>