<script>
    let count = 0;

    function ntimes(){
        count +=1;
    }

    function reset(){
        count = 0;
    }
</script>

<button type="button" class="btn btn-primary" on:click={ntimes}>
    Clicked {count} {count === 1 ? 'time' : 'times'}
</button>

<button type="button" class="btn btn-danger" on:click={reset}>
    Reset
</button>