<script>
	import { onMount } from 'svelte';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;
  
  // Color
  let color = "darkred";
	
	// Write a function that reduces the index every second
	onMount(() => {
		setInterval(() => {if (index > -1){index -= 1}}, 1000);
	});
		
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
		{#each points as p, i}
			{#if index == -1}
				<circle cx={p} cy={innerHeight / 2} r=10 fill="darkgreen" opacity="1" />
			{:else}
				<circle cx={p} cy={innerHeight / 2} r=10 fill={color} opacity={i < index ? 0.3 : 1} />
      {/if}		
		{/each}
  </g>
</svg>