<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "/src/routes/exercises/week_7/exercises/_ex_3_controls.svelte";
  import Scatterplot from "/src/routes/exercises/week_7/exercises/_ex_3_scatterplot.svelte";
  
  export let year = 1800;

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/static/data/gapminder.json");
  });
</script>

<Controls bind:year={year}/>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={data[0]['countries']} />
    <Controls {data} />
  </div>
{/if}
