<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  
  import { scaleLog } from 'd3-scale';
  const scale = scaleLog()
    .domain([1,10])
    .range([0.1,innerWidth-10]);

  import { select } from 'd3-selection';

  import { axisBottom } from 'd3-axis';
  const xAxis = axisBottom(scale);

  function myFunction (scale) {
    xAxis(select(scale));
  }

</script>

<svg viewBox="0 0 {width} {height}">
  <!-- circles -->
  <g transform="translate({margin.left},{margin.top})">
    {#each values as v}
      <circle cx={scale(v)} cy={innerHeight / 2} r=10 fill="steelblue" />
    {/each}  
  </g>

  <!-- x axis -->
  <g use:myFunction transform="translate({margin.left},{innerHeight})">
  </g>
  
  <!-- label for x axis -->
  <g fill="none" font-size="10" font-family="sans-serif" text-anchor="middle" transform="translate({innerWidth/2},{height})">
    <text fill="currentColor" >x label</text> 
  </g>
</svg>