<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  import { scaleLinear } from 'd3-scale';
  const xScale = scaleLinear();
  xScale.domain([0,10]).range([0,innerWidth]);

  const yScale = scaleLinear();
  yScale.domain([0,3]).range([innerHeight,0]);

  import { scaleOrdinal } from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic';
	
  const colScale = scaleOrdinal(schemeDark2);

  //import { extent } from 'd3-array';

  import { select } from 'd3-selection';

  import { axisTop } from 'd3-axis';
  const xAxis = axisTop(xScale)
		.tickValues([2,4,6,7,9])
		.tickSizeOuter([])
		.tickFormat("")
		.tickSizeInner([20]);

  function myFunction (xScale) {
    xAxis(select(xScale));
	}

</script>

<svg viewBox="0 0 {width} {height}">

    <line stroke="black" x1="321" x2="321" y1="80" y2="50" />
    <line stroke="black" x1="558" x2="558" y1="80" y2="20" />

  <!-- x axis -->
  <g use:myFunction transform="translate({margin.left},{innerHeight+15})">
  </g>
	
	<g transform="translate({margin.left},{margin.top})">
    {#each values as v}
      <circle cx={xScale(v.x)} cy={yScale(v.y)} r=5 fill={colScale(v.category)} />
      <text x={xScale(v.x)} y={yScale(v.y)-10} class="valueLabel">{v.y}</text>
    {/each}  
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: 10px;
  }
</style>