<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  import { scaleOrdinal } from 'd3-scale';
  const xScale = scaleOrdinal()
    .domain([data.service])
    .range([420,30,108,186,264,342]);

  import { scaleLinear } from 'd3-scale';
  const yScale = scaleLinear()
    .domain([0,3])
    .range([innerHeight,0]);
	
	 const x2Scale = scaleLinear()
    .domain([0,7])
    .range([-margin.top,innerWidth]);

  import { select } from 'd3-selection';

  import { axisBottom } from 'd3-axis';
  const xAxis = axisBottom(x2Scale)
		.tickArguments([7])
				.tickFormat("");

  import { axisLeft } from 'd3-axis';
  const yAxis = axisLeft(yScale);

  function myFunctionX (xScale) {
    xAxis(select(xScale));
  }

  function myFunctionY (yScale) {
    yAxis(select(yScale));
  }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as d, i}
      <rect x={xScale(i)} y={yScale(d.viewers)} width=70 height={yScale(0) - yScale(d.viewers)} fill="steelblue"/>
			<text x={xScale(i)+35} y={innerHeight+17} font-size=10 text-anchor="middle">{d.service}</text>
    {/each}  
  </g>

  <!-- x axis -->
  <g use:myFunctionX transform="translate({margin.left},{innerHeight+10})">
  </g>

  <!-- y axis -->
  <g use:myFunctionY transform="translate({margin.bottom+20},{margin.top})">
  </g>
	
	 <!-- label for y axis -->
  <g fill="none" font-size="10" font-family="sans-serif" text-anchor="middle" rotate="90" transform="translate({20},{height/2-10})">
    <text class="ylabel" fill="currentColor">Viewers (Million)</text> 
  </g>
  
</svg>

<style>
  .ylabel {
		transform: rotate(-90deg)
	}
</style>