<script>

  //import A from '/src/routes/exercises/week_6/exercises/_ex_7_scatterplot.svelte';

  //import { fetch } from 'd3-fetch';

  //onMount(async () => {
  //  const response = await fetch('static/data/gapminder.json');
  //  const year = await response.json();
  //  data = year.year;
  //});

  
</script>


<main>
  <h2>Gapminder Scatterplot</h2>
  <h1>1800</h1>
  
  
</main>

<style>
  h1 {
    color: #999999;
    text-align: right;
  }
</style>